{{ 'section-access-form.css' | asset_url | stylesheet_tag }}


<div class = "form-container page-width text-[12px]">
    <h2 class="text-xl text-black">Get access to the demo store</h2>
    <p>Our self-serve portal instantly creates a personalized demo store with just a few details</p>

    {% form 'customer' %}
        <input type = "text" name="customer[first_name]" placeholder="First Name" required/>
        <input type="text" name="customer[last_name]" placeholder="Last name" required>
        <input type="email" name="customer[email]" placeholder="Business Email" required>

        <div class = "phone group">
            <select name = "customer[country_code]">
                <option value="+1">🇺🇸 +1</option>
                <option value="+91">🇮🇳 +91</option>
                <option value="+44">🇬🇧 +44</option>
            </select>
            <input type="tel" name="customer[phone]" placeholder="Business Phone">
        </div>

        <input type="text" name="contact[company]" placeholder="Company">
        <input type="url" name="contact[website]" placeholder="Website URL">


        <select name="contact[country]">
            <option value="">Country</option>
            <option value="US">United States</option>
            <option value="IN">India</option>
            <option value="UK">United Kingdom</option>
        </select>

        <button type="submit" class="rounded-lg"> SUBMIT</button>

        <p class = "text-[10px] pt-3 ">
            By submitting this form, you agree to receive promotional messages from Shopify 
            <strong>and the partners that provide these resources</strong> about its products and services. 
            You can unsubscribe at any time by clicking on the link at the bottom of our emails.
        </p>
        
    {% endform %}

</div>