{% comment %} <div style="background-image: url(https://res.cloudinary.com/dcisswp5z/image/upload/v1711194672/samples/upscale-face-1.jpg);" {% endcomment %}
<div style="background-image: url(https://images.pexels.com/photos/879178/pexels-photo-879178.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);"
 class="flex flex-col object-cover h-auto w-screen bg-cover bg-center gap-7 relative">
    <div class = 'flex justify-center items-center pt-[100px]'>
        <h1 class = 'text-white'> Experience B2B for new generation of buyers </h1>
    </div>
    <div class="w-full flex justify-center pb-[100px]">
        <button class="bg-limeCircles text-black rounded-full justify-center items-center w-[25%]">
            Unlock the demo store
        </button>
    </div>

</div>