{% comment %} <div style="background-image: url(https://res.cloudinary.com/dcisswp5z/image/upload/v1711194672/samples/upscale-face-1.jpg);" {% endcomment %}
<div style="background-image: url(https://images.pexels.com/photos/2558823/pexels-photo-2558823.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);"
 class="flex flex-col relative object-cover h-auto w-screen bg-cover bg-center gap-7">
    <div class = 'flex justify-center items-center pt-[100px]'>
        <h1 class = 'text-white font-bold space-x-[20px] text-center text-3xl md:text-8xl'> {{section.settings.heading}} </h1>
    </div>
    <div class="w-auto flex justify-center pb-[100px]">
        <button class="bg-limeCircles bg-opacity-80 border-2 border-gray-800  text-black rounded-full justify-center items-center w-auto px-10">
            {{section.settings.button_text}}
        </button>
    </div>

</div>



{% schema  %}
{
    "name":"custom footer",
    "settings":[
        {
            "type": "text",
            "id": "heading",
            "label": "heading",
            "default": "SAY IT WITH YOUR EYES"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "button_text",
            "default": "GET YOUR PAIR NOW"
        }
    ]
}


{% endschema %}