{% comment %}
  sections/progress-steps.liquid
{% endcomment %}

<div class="z-5 bg-oliveGreen flex p-[5vh]">
  <div class="lg:max-w-6xl w-full mx-auto">
    <h2 class="text-white text-center text-3xl lg:text-[28px] mb-12 font-semibold">
      {{ section.settings.heading | default: 'Access the demo store in 3 easy steps' }}
    </h2>
    
    <div class="flex lg:flex-row flex-col justify-between lg:-mr-[250px]">
      {% for block in section.blocks %}
        <div class="flex flex-col justify-between w-full {% unless forloop.last %}{% endunless %}">
          <!-- Step Number and Title -->
          <div class="text-white mb-4">
            <div class="flex justify-center gap-2 lg:max-w-[100px]">
              {% comment %} <span class="font-bold text-white text-[12px]">0{{ forloop.index }}</span> {% endcomment %}
              <span class=" text-gray-300 font-semibold text-[12px] lg:-ml-[80px] text-center">{{ block.settings.title }}</span>
            </div>
          </div>
          
          <!-- Progress Indicator -->
          <div class="flex items-center w-full gap-2">
            <!-- Circle -->
            <div class=" lg:flex  z-10 lg:w-10 lg:h-10 rounded-full items-center justify-center
              {% if block.settings.current %}
                border-4 border-limeCircles border-dashed text-limeCircles
              {% elsif block.settings.completed %}
                bg-limeCircles
              {% else %}
                border-2 border-limeCircles text-limeCircles
              {% endif %}">
            </div>
            
            <!-- Connector Line -->
            {% unless forloop.last %}
            <div class="h-1 flex-grow border-t-4 border-lime-400 border-dashed ">
            </div>
`                
            {% endunless %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Progress Steps",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Access the demo store in 3 easy steps"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Step Title",
          "default": "Step Title"
        },
        {
            "type":"checkbox",
            "id":"completed",
            "label":"Completed status",
            "default":true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Progress Steps",
      "blocks": [
        {
          "type": "step",
          "settings": {
            "title": "Submit your details"
          }
        },
        {
          "type": "step",
          "settings": {
            "title": "Check your email for your one-time "
          }
        },
        {
          "type": "step",
          "settings": {
            "title": "Sign in to the demo store with your code" 
          }
        }
      ]
    }
  ]
}
{% endschema %}